@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../media/iconfont.ttf?t=1630225500196') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yewuliucheng:before {
  content: "\e614";
}

.icon-zhengshu:before {
  content: "\e616";
}

.icon-xuewei:before {
  content: "\e618";
}

.icon-yewu-heji_keyanchengguo:before {
  content: "\e619";
}

